.blog{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
   gap: 10px;
}
.backgrd {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}
.backgrd img{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(3px);
    border-radius: 15px;
    margin-top: 22px;

}
.inside-tle{
    position: absolute;
    top: 5rem;
    left: 48rem;
    color:#E74C3C;
    & h3{
        font-size: 45px;
    }
}
.inside-tle p{
    font-size: 20px;
    color: #4a4a4a;
}
.img-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}
.img-1-cont{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
  
}
.img-1-cont p{
    padding: 5px;
}
.img-1-cont img{
    width: 300px;
    height: 260px;
    border-radius: 5px;
    object-fit: cover;
}
.title{
    color: #4a4a4a;
}
.ans{
    color: #8a8a8a;
}
.read{
    text-decoration: none;
    background-color: darkslateblue;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}
.img-1-cont img:hover{
     transition: 0.2s;
     transform: scale(1.03);
     cursor: pointer;
}
@media (min-width:320px) and (max-width:480px){
    .inside-tle{
       left: 9rem;
       top: 60px;
    }
    .inside-tle h3{
        font-size: 30px; 
       }
    .inside-tle p{
        font-size: 15px;
    }
    .backgrd img{
        width: 100%;
        height: 50vh;
        margin-top: 50px;
    }

}