@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
     font-family: "Source Sans 3", sans-serif;
 
}